<HeadContent>
  <style>
    :root {
      --board-bg: yellow;
      --player1: blue;
      --player2: red;
    }
  </style>
</HeadContent>

<div>
  <div class="board">
        @for (var i = 0; i < 42; i++)
        {
        <span class="container">
          <span></span>
        </span>
        }
  </div>
</div>

@code { } 
